.page-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, rgb(7, 51, 108) 0%, black 100%);
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 8rem auto 3rem auto;
  width: calc(100% - calc(2 * var(--app-padding)));
  max-width: var(--app-max-width);
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: rgb(9, 36, 67);
  border-radius: 4px;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem 0.2rem rgb(28, 117, 190);
}

.filters-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 0.75rem;

  &.filters-container-row--narrow {
    flex-direction: column;
  }
}

.filters-container-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  gap: 0.75rem;
}

.filter {
  background-color: rgb(4, 16, 30);
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
}

.filter-name {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  & svg {
    position: absolute;
    left: 0.5rem;
    width: 24px;
    height: 24px;
  }

  & input {
    flex-grow: 1;
    box-sizing: border-box;
    width: 0;
    height: 2.25rem;
    border-radius: 50px;
    padding-left: 2.25rem;
    background-color: lightgray;
  }
}

.level-and-overboost-container {
  display: flex;
  gap: 0.75rem;
}

.number-of-weapons {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: white;
  background-color: rgb(5, 22, 41);
  border: 2px solid rgb(38, 56, 79);
  border-radius: 50px;
  width: min-content;
  padding: 0.25rem 0.5rem;

  & svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.filter-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.character-toggle {
  display: flex;
  align-items: center;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgb(5, 41, 80);
  border-style: solid;
  border-color: rgb(21, 81, 151);
  border-radius: 4px;
  border-width: 0.125rem;
  outline: rgb(21, 81, 151) solid calc(0.3rem / 2.5);
  outline-width: 0.125rem;
  outline-offset: calc(-0.125rem * 3);
  padding: calc(0.125rem * 3);

  &.character-toggle--selected {
    background-color: rgb(13, 83, 157);
    border-color: rgb(44, 128, 215);
    outline-color: rgb(44, 128, 215);
  }

  & img {
    width: calc(4.1875rem * 0.5);
    height: calc(4.9375rem * 0.5);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin: 0 0.125rem 0 0.25rem;
  }

  & .character-toggle-name {
    margin: 0 0.25rem 0 0.125rem;
  }
}

.filter-level {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.75rem;
}

.filter-overboost {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.75rem;
}

.filter-overboost__stars {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  vertical-align: middle;
}

.filter-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.element-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  background-color: rgb(5, 41, 80);
  border-style: solid;
  border-color: rgb(21, 81, 151);
  border-radius: 4px;
  border-width: 0.125rem;
  outline: rgb(21, 81, 151) solid calc(0.3rem / 2.5);
  outline-width: 0.125rem;
  outline-offset: calc(-0.125rem * 3);
  padding: calc(0.125rem * 3);

  &.element-toggle--selected {
    background-color: rgb(13, 83, 157);
    border-color: rgb(44, 128, 215);
    outline-color: rgb(44, 128, 215);
  }

  & span {
    background-size: 100%;
    width: 100%;
    height: 100%;
  }
}

.table-decoration {
  position: relative;
  overflow: visible;
  outline: rgb(28, 117, 190) solid 0.15rem;
}

.table-decoration::before, .table-decoration::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(28, 117, 190);
  outline: rgb(28, 117, 190) solid 0.15rem;
  outline-offset: 0.1rem;
  transform: rotate(45deg);
  z-index: 1;
}

.table-decoration::before {
  top: -0.4rem;
  left: -0.4rem;
}

.table-decoration::after {
  top: -0.4rem;
  right: -0.4rem;
}

.table-container {
  padding: 0 0.5rem;
  color: white;
  background-color: rgb(4, 16, 30);
  position: relative;
  overflow-x: scroll;
  z-index: 0;
}

.table {
  width: 100%;
  position: relative;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.table-header--sortable {
  &:hover {
    background-color: rgb(12, 48, 90);
    border-radius: 4px;
    cursor: pointer;
  }
}

.table-head-row {
  height: 2rem;
}

.table-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-row {
  background-color: rgb(9, 36, 67);
}

.table-data {
  padding: 0.5rem;
}

.table-data--centered {
  text-align: center;
}

.table-data--nowrap {
  white-space: nowrap;
}

.table-data-element {
  width: 2rem;
  height: 2rem;
}

.table-data-weapon-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.table-data-weapon-container-column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.table-data-weapon-container-character {
  width: calc(4.1875rem * 0.5);
  height: calc(4.9375rem * 0.5);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.table-data-c-ability {
  max-height: 7em;
  overflow-y: scroll;
}
