.weapons-page__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, rgb(7, 51, 108) 0%, black 100%);
}

.weapons-page__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 90vw;
  max-width: 82rem;
  margin: 3rem auto;
}

.filters-container {
  background-color: rgb(9, 36, 67);
  border-radius: 4px;
  width: 100%;
  overflow-x: scroll;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 12.5px 3.75px rgb(28, 117, 190);
}

.filters-container__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.filters-container__row--narrow {
  flex-direction: column;
}

.filters-container__column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  gap: 1rem;
}

.filter {
  background-color: rgb(4, 16, 30);
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
}

.filter-name {
  display: flex;
  align-items: center;
  gap: 0.25rem 0.75rem;
  width: 100%;
}

.filter-name__input {
  flex-grow: 1;
  width: 0;
  border-radius: 4px;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.filter-characters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-characters__character {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgb(5, 41, 80);
  border-style: solid;
  border-color: rgb(21, 81, 151);
  border-radius: 4px;
  border-width: 0.125rem;
  outline: rgb(21, 81, 151) solid calc(0.3rem / 2.5);
  outline-width: 0.125rem;
  outline-offset: calc(-0.125rem * 3);
  padding: calc(0.125rem * 3);
}

.filter-characters__character--selected {
  background-color: rgb(13, 83, 157);
  border-color: rgb(44, 128, 215);
  outline-color: rgb(44, 128, 215);
  text-shadow: 0px 0px 1px white;
}

.filter-characters__character__icon {
  width: calc(4.1875rem * 0.5);
  height: calc(4.9375rem * 0.5);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 0 0.125rem 0 0.25rem;
}

.filter-characters__character__name {
  margin: 0 0.25rem 0 0.125rem;
}

.filter-level {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem 0.75rem;
}

.filter-overboost {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem 0.75rem;
}

.filter-overboost__stars {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  vertical-align: middle;
}

.filter-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-elements__element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  background-color: rgb(5, 41, 80);
  border-style: solid;
  border-color: rgb(21, 81, 151);
  border-radius: 4px;
  border-width: 0.125rem;
  outline: rgb(21, 81, 151) solid calc(0.3rem / 2.5);
  outline-width: 0.125rem;
  outline-offset: calc(-0.125rem * 3);
  padding: calc(0.125rem * 3);
}

.filter-elements__element--selected {
  background-color: rgb(13, 83, 157);
  border-color: rgb(44, 128, 215);
  outline-color: rgb(44, 128, 215);
}

.filter-elements__element__icon {
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.table-decoration {
  position: relative;
  overflow: visible;
  outline: rgb(28, 117, 190) solid 0.15rem;
}

.table-decoration::before, .table-decoration::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(28, 117, 190);
  outline: rgb(28, 117, 190) solid 0.15rem;
  outline-offset: 0.1rem;
  transform: rotate(45deg);
  z-index: 1;
}

.table-decoration::before {
  top: -0.4rem;
  left: -0.4rem;
}

.table-decoration::after {
  top: -0.4rem;
  right: -0.4rem;
}

.table-container {
  padding: 0 0.5rem;
  color: white;
  background-color: rgb(4, 16, 30);
  position: relative;
  overflow-x: scroll;
  z-index: 0;
}

.table-container__table {
  width: 100%;
  position: relative;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.table-container__table__header--sortable:hover {
  background-color: rgb(12, 48, 90);
  border-radius: 4px;
  cursor: pointer;
}

.table-container__table__header__row {
  height: 2rem;
}

.table-container__table__header__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container__table__row {
  background-color: rgb(9, 36, 67);
}

.table-container__table__cell {
  padding: 0.5rem;
}

.table-container__table__cell--centered {
  text-align: center;
}

.table-container__table__cell--nowrap {
  white-space: nowrap;
}

.table-container__table__cell__element {
  width: 2rem;
  height: 2rem;
}

.table-container__table__cell__weapon-container__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.table-container__table__cell__weapon-container__column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.table-container__table__cell__weapon-container__character {
  width: calc(4.1875rem * 0.5);
  height: calc(4.9375rem * 0.5);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.table-container__table__cell__c-ability {
  max-height: 7em;
  overflow-y: scroll;
}
