.dropdown-menu-navbar-left {
  display: none;
  margin-left: 1rem !important;
}

.dropdown-menu-navbar-left.open {
  display: block;
}

.navbar-left__item__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
