:root {
  --sidebar-width: 336px;
}

.inline-container {
  height: 4rem;
  padding: 0 1rem 0 1rem;
  background-color: #8c8c8c;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav.navbar-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

nav.navbar-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.navbar-top ul li {
  display: inline-block;
  position: relative;
  padding: 0 0.375rem 0 0.375rem;
  margin: 0 0.375rem 0 0.375rem;
}

nav.navbar-top ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  width: 100%;
}

nav.navbar-top ul li:not(:has(a.active)):hover {
  background-color: #555555;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

nav.navbar-top ul li:has(a.active) {
  background-color: #4169e1;
  border-radius: 0.5rem;
}

.hamburger-container {
  transition: all 0.3s ease;
}

.hamburger-container:hover {
  background-color: #b3b3b3;
  border-radius: 50%;
  cursor: pointer;
}

nav.navbar-left {
  width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  background-color: #b3b3b3;
  margin-left: calc(-1 * var(--sidebar-width));
  transition: all 0.3s ease;
}

nav.navbar-left.navbar-left-open {
  margin-left: 0;
}

nav.navbar-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.navbar-left ul li a {
  width: 100%;
  display: inline-block;
  padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav.navbar-left ul li.menu-item {
  margin: 0.3rem;
}

nav.navbar-left ul li a:not(.active):hover {
  background-color: #8c8c8c;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

nav.navbar-left .active {
  background-color: #4169e1;
  border-radius: 0.5rem;
  color: white;
}
