li span.arrow-down {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

li span.arrow-right {
  margin-left: 0.28em;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  float: left;
  list-style-type: none;
  background-color: #b3b3b3;
  border-radius: 0.5rem;
}

.dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 0;
}

.dropdown-menu li:not(:has(a.active)):hover {
  background-color: #8c8c8c !important;
}

ul.dropdown-menu li {
  display: block !important;
  white-space: nowrap;
  margin: 0 !important;
}

ul.dropdown-menu li a {
  color: black !important;
}

ul.dropdown-menu li a.active {
  color: white !important;
}

.dropdown-menu.open {
  display: block;
}
