nav {
  background-color: #333;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  padding: 10px;
  text-decoration: none;
  color: white;
}

nav ul li a:not(.active):hover {
  background-color: #555;
  border-radius: 10px;
}

nav .active {
  background-color: #4CAF50;
  border-radius: 10px;
}
