.home-page__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(221, 221, 221);
}

.home-page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 82rem;
  margin: 15vh auto;
  gap: 3rem;
}

.home-page__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.home-page__header__title {
  font-size: 4rem;
}

.home-page__header__image {
  position: relative;

  & img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    outline: 0.2rem solid black;
    transition: outline-width 0.2s ease-in-out;
  }

  & img:hover {
    outline-width: 0.5rem;
  }

  & a {
    display: block;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 67.5%;
    left: 67.5%;
    border-radius: 50%;
    background: white url("../../../assets/github.svg");
  }
}

.home-page__technologies-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.home-page__technology {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  font-size: 1.35rem;
  border-radius: 50px;
  padding: 0.5rem 1rem;

  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.react {
    box-shadow: 0 0 12.5px 3.75px rgb(83, 193, 222);
  }

  &.js {
    box-shadow: 0 0 12.5px 3.75px rgb(255, 202, 40);
  }

  &.nodejs {
    box-shadow: 0 0 12.5px 3.75px rgb(105, 187, 73);
  }

  &.rails {
    box-shadow: 0 0 12.5px 3.75px rgb(204, 0, 0);
  }

  &.mysql {
    box-shadow: 0 0 12.5px 3.75px rgb(93, 135, 161);
  }

  &.docker {
    box-shadow: 0 0 12.5px 3.75px rgb(35, 150, 237);
  }
}
